<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Post</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="${post.title}">Post Title</h1>
                <p th:text="${post.content}">Post Content</p>
                <a th:href="@{/}" class="btn btn-secondary">Back</a>

                <h2>Comments</h2>
                <div th:each="comment : ${post.comments}">
                    <p th:text="${comment.content}">Comment Content</p>
                </div>

                <form th:action="@{'/posts/' + ${post.id} + '/comments'}" method="post">
                    <div class="form-group">
                        <label for="content">New Comment</label>
                        <textarea class="form-control" id="content" name="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
